<h1>Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= link_to spooky_engine.tag_path(tag) do %>
        <%= tag.name %>
        (<%= tag.count.posts %>)
      <% end %>
    </li>
  <% end %>
</ul>

<%= render "spooky/shared/pagination" %>
